* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995da; /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 1px solid #fff; /* For debugging */
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.links {
  border: 1px solid #fff;
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995da;
  background-color: #d6e9fe;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social,
.logo,
.subscribe {
  border: 1px solid #5995da;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.photo-grid-item {
  border: 1px solid white;
  width: 300px;
  height: 300px;
}

.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

.social,
.subscribe {
  align-self: flex-end;

  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid white;
  background-color: #d6e9fe;
  height: 200px;
  flex: 1;
}

.footer-1,
.footer-3 {
  background-color: #5995da;
  flex: initial;
  width: 300px;
}

.signup {
  margin-left: auto;
}

.container {
  height: 140px;
  padding: 16px;
  background: plum;
  border: 4px solid indigo;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.item {
  width: 60px;
  height: 60px;
  border: 4px solid darkslategray;
  background: skyblue;
}
